<h1>edit html</h1>

<%= form_for @map, :url => map_path(@map), :method=>:patch do |map| %>

<%= render :partial => 'form', :locals => { :f => map } %>


<br>
<br>
<br>

<%= map.submit "update" %>
<% end %>

<br>
