<h2>[New html] Create new map</h2>

<%=form_for @map, :url => maps_path do |f| %>

  <%= render :partial => 'form', :locals => { :f => f } %>


    <%#= f.label :name, "Name" %>
    <%#= f.text_field :name %>
    <!-- <br> -->
    <%#= f.label :country, "Country" %>
    <%#= f.text_field :country %>
    <!-- <br> -->
    <%#= f.label :time, "Time" %>
    <%#= f.text_field :time %>
    <!-- <br> -->
    <%#= f.label :money, "Money" %>
    <%#= f.text_field :money %>
    <!-- <br> -->
    <%#= f.label :days, "days" %>
    <%#= f.text_field :days %>
    <!-- <br> -->
    <%#= f.label :description, "Description" %>
    <%#= f.text_area :description %>

<br>
<br>
    <%= f.submit 'Create' %>
<% end %>
